@mixin res($breakpoint) {
  @if $breakpoint == wide {
    @media only screen and (min-width: $bp-wide) {
      @content;
    } //1680
  }
  @if $breakpoint == desktop {
    @media only screen and (min-width: $bp-desktop) {
      @content;
    } //1024px;
  }
  @if $breakpoint == tab {
    @media only screen and (min-width: $bp-medium) {
      @content;
    } //760px;
  }
  @if $breakpoint == phone {
    @media only screen and (min-width: $bp-small) {
      @content;
    } //550px;
  }
}

// remove in refactor
@mixin primary-gradient($col1, $col2)  {
  background: linear-gradient(to right, $col1, $col2);
}

@mixin gradient-overlay() {
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
