$bp-small: 34.375em; // 550px;
$bp-medium: 47.5em; // 760px;
$bp-desktop: 64em; // 1024px;
$bp-wide: 105em; // 1680px;
$container-width: 1360px;

@mixin res($breakpoint) {
  @if $breakpoint == wide {
    @media only screen and (min-width: $bp-wide) {
      @content;
    }
    //1680
  }
  @if $breakpoint == desktop {
    @media only screen and (min-width: $bp-desktop) {
      @content;
    }
    //1024px;
  }
  @if $breakpoint == tab {
    @media only screen and (min-width: $bp-medium) {
      @content;
    }
    //760px;
  }
  @if $breakpoint == phone {
    @media only screen and (min-width: $bp-small) {
      @content;
    }
    //550px;
  }
}

@mixin gradient-overlay() {
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

::selection {
  background-color: #0998e6;
  color: #fff;
}

:root {
  --primary-color: #31abd6;
  --secondary-color: #65c0aa;
  --third-color: #8f96a5;
  --fourth-color: #3a444d;

  --font-color: #39444d;
  --disabled-color: #cdd2de;
  --nav-link-color: #fff;
  --nav-link-active-color: #3a444d;
  --sidenav-background: rgba(0, 0, 0, 0.6);
  --person-name-color: #fff;
  --person-image-background: #fff;
  --person-box-shadow-color: rgba(145, 190, 234, 54%);
  --secondary-section-background-color: #f8fafd;
  --contact-form-background-color: #fff;
  --warn-color: red;
  --footer-background-color: #3a444d;
  --footer-color: #fff;
  --modal-background-color: #fff;
  --nav-width: 60px;
}

::-webkit-scrollbar {
  width: 8px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background-color: var(--secondary-color);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.6);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.4);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: Calibri, "sans-serif";
  min-height: 100vh;
  color: var(--font-color);
  padding-left: var(--nav-width);
  max-width: 100vw;
  overflow-x: hidden;

  #magicMouseCursor {
    border-color: var(--primary-color) !important;
  }
}

.cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;

  &--dot {
    width: 6px;
    height: 6px;
    left: -3px;
    z-index: 100000;
    top: -3px;
    border-radius: 50%;
    background-color: var(--primary-color);
  }
}

.aside {
  width: var(--nav-width);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
  z-index: 5;
  background: linear-gradient(
    to bottom,
    var(--primary-color),
    var(--secondary-color)
  );

  &__logo {
    position: absolute;
    left: 50%;
    top: 1rem;
    transform: translateX(-50%);
  }
}

.hide-for-user {
  height: 0;
  width: 0;
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
}

.content {
  position: relative;
  z-index: 1;
}

.container {
  width: $container-width;
  max-width: 100%;
  margin: auto;
}

.hero {
  padding: 120px 0;
  background: url(/images/section-bg-shape.svg), #3a444d;
  background-repeat: no-repeat;
  background-position: bottom center;
  position: relative;

  p {
    margin-bottom: 2rem;
  }

  &__particles {
    position: absolute;
    inset: 0;
  }

  .container {
    position: relative;
    z-index: 2;
  }

  .row {
    display: flex;
    align-items: center;
    width: 100%;
    color: #fff;
  }

  .column {
    width: 50%;
    padding-inline: 24px;
  }

  button {
    border: 1px solid #1e84b5;
    padding: 0.8rem 1.6rem;
    color: #fff;
    background-color: #1e84b5;
    font-weight: bold;
    border-radius: 0.8rem;
    transition:
      background-color 0.2s ease-in-out,
      border-color 0.2s ease-in-out;

    &:hover {
      border-color: #ffffff1f;
      background-color: transparent;
    }
  }

  h1 {
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 30px;
    cursor: none;
  }
}

figure {
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  display: flex;
}

figure::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}

figure:hover::before {
  -webkit-animation: shine 0.75s;
  animation: shine 0.75s;
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

.hero-images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  margin-left: 30px;

  .hero-image-box {
    width: calc(33.33% - 20px);
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    img {
      max-width: 100%;
      border-radius: 30px;
    }
  }
}

.section {
  &__title {
    font-size: 3em;
    text-align: center;
    padding: 1rem 0.5rem;

    @include res(tab) {
      padding: 2rem 1rem;
    }

    @include res(desktop) {
      padding: 64px 1rem 3rem;
    }
  }
}

.persons {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;

  @include res(tab) {
    flex-direction: column;
  }

  &__item {
    overflow: hidden;
  }
}

.person {
  display: flex;
  flex-direction: column;
  border: 0;
  background-color: transparent;
  width: 160px;
  outline: none;
  cursor: pointer;
  textrdecoration: none;

  @include res(tab) {
    width: 260px;
  }

  &--active,
  &:hover,
  &:focus {
    .person__image {
      opacity: 1;
    }

    img {
      transform: scale(1.1);
    }
  }

  &--active {
    //box-shadow: 0 10px 20px var(--person-box-shadow-color);
  }

  &__image {
    display: flex;
    max-width: 100%;
    overflow: hidden;
    height: 160px;
    background-color: var(--person-image-background);
    opacity: 0.5;
    clip-path: circle(40% at 50% 50%);
    transition:
      opacity 0.2s ease,
      clip-path 0.1s ease;
    position: relative;

    &:hover {
      clip-path: circle(45% at 50% 50%);

      .person__name {
        opacity: 1;
      }
    }

    @include res(tab) {
      //height: 400px;
      height: 215px;
    }

    img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
      transition: transform 5s ease;
    }
  }

  &__name {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    opacity: 0;
    transition: opacity 0.2s ease;
    left: 0;
    right: 0;
    top: 70%;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.range {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem -0.5rem;
  justify-content: center;

  @include res(desktop) {
    justify-content: space-between;
  }

  &__item {
    margin: 0.5rem;
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    width: 310px;
    height: 80px;
    color: #fff;
    display: grid;
    place-items: center;
    background-color: var(--primary-color);

    &:empty {
      opacity: 0;
    }

    &:nth-child(1) {
      background-color: #89bfdb;
    }

    &:nth-child(2) {
      background-color: #84bfd4;
    }

    &:nth-child(3) {
      background-color: #7fbfcd;
    }

    &:nth-child(4) {
      background-color: #79bfc5;
    }

    &:nth-child(5) {
      background-color: #74bfbf;
    }

    &:nth-child(6) {
      background-color: #6fc0b8;
    }
  }
}

.person-description {
  padding: 0.5rem;
  font-size: 1.125em;

  &__wrapper {
    width: 100%;

    @include res(tab) {
      width: calc(100% - 364px);
    }
  }

  &__name {
    font-size: 2em;
    margin-bottom: 1rem;
    display: inline-block;
    @include gradient-overlay;
  }

  &:not(:first-of-type) {
    display: none;
  }

  @include res(tab) {
    padding: 1rem;
  }

  @include res(desktop) {
    //padding: 2rem 3rem;
  }

  @include res(wide) {
    //padding: 64px 4rem 2rem;
  }

  &__paragraph {
    margin-bottom: 2rem;
    border-left: 3px solid var(--primary-color);
    padding: 0.5rem 1.5rem;
    line-height: 1.4em;
  }

  &__title {
    margin-bottom: 2rem;
    font-size: 1.5em;

    span {
      position: relative;
      padding-bottom: 0.25rem;
      @include gradient-overlay();

      &::after {
        content: "";
        display: block;
        height: 2px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(
          to right,
          var(--primary-color),
          var(--secondary-color)
        );
      }
    }
  }
}

.description-list {
  list-style: none;

  @include res(tab) {
    display: flex;
    flex-wrap: wrap;

    &--no-wrap {
      flex-direction: column;

      .description-list__item {
        width: 100%;
      }
    }
  }

  &__item {
    padding: 0.5rem 1rem;
    position: relative;
    font-size: 1.125em;

    @include res(tab) {
      width: 50%;
    }

    &::after {
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      background: linear-gradient(
        to bottom,
        var(--primary-color),
        var(--secondary-color)
      );
      position: absolute;
      left: 0;
      top: 16px;
    }
  }
}

.offer {
  background-color: var(--secondary-section-background-color);

  &__content {
    @include res(tab) {
      display: flex;
    }
  }

  &__description {
    padding: 0.5rem;

    @include res(tab) {
      padding-left: 4rem;
    }

    &:not(:first-of-type) {
      display: none;
    }
  }
}

.offer-puzzles {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  margin-bottom: 2rem;

  @include res(desktop) {
    width: 680px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: 5rem;
    grid-gap: 0.1rem;
  }

  &__item {
    margin: 0.25rem;

    &:nth-child(1) {
      grid-column: 1 / 2;
      grid-row: 1 / 1;
    }

    &:nth-child(2) {
      grid-column: 2 / 3;
      grid-row: 1 / 1;
    }

    &:nth-child(3) {
      grid-column: 4 / 5;
      grid-row: 1 / 1;
    }

    &:nth-child(4) {
      grid-column: 1 / 1;
      grid-row: 2 / 3;
    }

    &:nth-child(5) {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
    }

    &:nth-child(6) {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
    }

    &:nth-child(7) {
      grid-column: 4 / 5;
      grid-row: 3 / 4;
    }

    @include res(desktop) {
      margin: 0;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    border: 3px solid var(--primary-color);
    background-color: var(--primary-color);
    cursor: pointer;
    outline: none;

    @include res(phone) {
      height: 120px;
      width: 120px;
    }

    @include res(tab) {
      height: 170px;
      width: 170px;
    }

    svg {
      transform: scale(0.7);

      @include res(phone) {
        transform: scale(1);
      }
    }

    &--active,
    &:hover,
    &:focus {
      background-image: linear-gradient(
        to right,
        var(--primary-color),
        var(--secondary-color)
      );
      border-color: #fff;

      svg {
        opacity: 1;
        transform: scale(0.85) rotate(10deg);

        @include res(phone) {
          transform: scale(1.1) rotate(10deg);
        }
      }
    }

    &--active {
      border-color: #fff;

      svg {
        // remove this rule
        opacity: 1 !important;
        transform: rotate(0);
      }
    }

    &--secondary {
      border-color: var(--secondary-color);
      background-color: var(--secondary-color);
    }

    &--third {
      border-color: var(--third-color);
      background-color: var(--third-color);
    }

    &--fourth {
      border-color: var(--fourth-color);
      background-color: var(--fourth-color);
    }
  }

  svg {
    opacity: 0.6;
    transition:
      opacity 0.2s,
      transform 0.2s;
  }
}

.payment {
  background: url("/images/payments.webp") center no-repeat;
  background-size: cover;
}

.payments-list {
  display: flex;
  list-style: none;
  padding: 0.5rem;
  justify-content: center;
  flex-wrap: wrap;

  @include res(tab) {
    padding: 0 3rem 3rem 3rem;
  }

  &__item {
    width: 350px;
    height: 250px;
    margin-bottom: 0.5rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 30px 50px rgba(145, 190, 234, 0.53);
    padding: 1.5rem;
    position: relative;

    @include res(phone) {
      margin: 0 0.5rem 0.5rem 0.5rem;
      height: 350px;
    }

    @include res(tab) {
      margin: 0 2rem 1rem;
    }

    &:not(:hover) {
      box-shadow: none;

      path,
      rect {
        fill: var(--disabled-color);
      }
    }
  }

  &__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    &:hover,
    &:focus {
      img {
        transform: scale(1.05);
        opacity: 1;
      }
    }
  }

  &__image {
    opacity: 0.3;
    transition:
      opacity 0.2s,
      transform 0.2s;
    width: 260px;
    height: auto;
  }

  &__name {
    margin-top: 2rem;
    font-weight: bold;
    font-size: 1.875em;
    color: var(--disabled-color);
  }

  &__description {
    text-align: center;
    margin-top: 0.5rem;
    color: var(--disabled-color);
  }
}

.contact {
  background-color: var(--secondary-section-background-color);

  &__container {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;

    @include res(tab) {
      flex-direction: row;
      padding-bottom: 2rem;
    }
  }
}

.contact-form {
  @include res(tab) {
    margin-right: 2rem;
    min-width: 400px;
  }

  &__group {
    display: flex;
    flex-direction: column;

    &:not(:last-of-type) {
      margin-bottom: 0.5rem;
    }
  }

  &__label {
    text-align: right;
  }

  &__input,
  &__select,
  &__textarea {
    padding: 0.5rem 1rem;
    font-size: 1em;
    border: 0;
    border-right: 2px solid var(--primary-color);
    outline: none;

    &:focus {
      border-right-color: var(--secondary-color);
    }
  }

  &__select {
    background-color: #fff;

    &:hover {
      cursor: pointer;
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: 0.5rem;
      padding: 0.5rem 1rem;
      background-color: var(--primary-color);
      border: 1px solid var(--primary-color);
      color: #fff;
      cursor: pointer;
      opacity: 0.75;
      transition: opacity 0.2s;

      &:hover,
      &:focus {
        opacity: 1;
      }

      &[type="reset"] {
        background-color: var(--secondary-color);
        border: 1px solid var(--secondary-color);
      }
    }
  }
}

.contact-info {
  &__container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 2rem auto;
    flex-direction: column;

    @include res(desktop) {
      flex-direction: row;
    }
  }

  &__title {
    text-transform: uppercase;
  }

  &__section {
    color: #fff;
    padding: 0.5rem;
    flex: 1;
    display: flex;
    justify-content: center;

    @include res(phone) {
      padding: 1rem;
    }

    @include res(tab) {
      padding: 1.5rem;
    }

    @include res(desktop) {
      padding: 2rem;
    }

    @include res(wide) {
      padding: 3rem 5rem;
    }

    &--primary {
      background-color: var(--primary-color);
      display: flex;
      z-index: 2;
      justify-content: flex-start;

      @include res(desktop) {
        position: absolute;
        width: calc(33.333% + 1.5rem);
        top: 50%;
        justify-content: flex-end;
        text-align: right;
        transform: translateY(-50%);
      }
    }

    &--secondary {
      background-color: var(--secondary-color);
      display: flex;
      justify-content: flex-start;
      text-align: left;
      position: relative;

      @include res(desktop) {
        width: 66.666%;
        margin-left: 33.333%;
      }
    }

    p {
      margin-bottom: 0.5rem;
    }
  }

  &__link {
    color: #fff;
  }
}

.map {
  display: flex;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--footer-background-color);
  padding: 0.5rem;
  text-align: center;

  @include res(phone) {
    padding: 1rem;
  }

  &__logo {
    margin-bottom: 1rem;

    img {
      max-height: 50px;
      width: auto;
    }
  }

  &__link {
    color: var(--footer-color);

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.nav-container {
  position: relative;
}

.nav {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(255, 255, 255, 0.5);

  &__link {
    display: flex;
    height: var(--nav-width);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: #fff;
    text-decoration: none;
    border-left: 3px solid transparent;
    transition: border-left-color 0.2s ease;

    &.active {
      border-left-color: #fff;
    }

    &:hover {
      background-color: var(--primary-color);
      border-left-color: #fff;
    }
  }

  &__icon {
    max-width: 30px;
    margin-bottom: 0.25rem;
    transform: translateX(-3px);
  }
}

.home {
  min-height: 75vh;
  position: relative;
  padding: 1rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &__particles {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.8;
    z-index: 1;
  }

  &__title {
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
  }

  &__button {
    margin: 1rem 0 5rem;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 1em;
    border: 0;
    cursor: pointer;
    background: linear-gradient(
      -45deg,
      var(--primary-color),
      var(--secondary-color)
    );
    color: #fff;
    background-size: 400% 400%;
    animation: gradient 3s ease infinite;

    &:hover,
    &:focus {
      background: var(--primary-color);
    }
  }

  &__link {
    z-index: 2;
    position: relative;
  }
}

.slick-slider {
  overflow: hidden;
  height: 75vh;
}

.about {
  &__container {
    padding-top: 3rem;
    background-color: #fff;
    border-radius: 2rem 2rem 0 0;
    position: relative;
    z-index: 5;
    max-width: 80vw;
    display: flex;
    flex-direction: column;

    @include res(tab) {
      flex-direction: row;
    }

    &::before {
      position: absolute;
      left: 2rem;
      right: 2rem;
      top: -1rem;
      background-color: #fff;
      border-radius: 2rem 2rem 0 0;
      content: "";
      display: block;
      z-index: 4;
      height: 2rem;
      opacity: 0.1;
    }

    &::after {
      position: absolute;
      left: 4rem;
      right: 4rem;
      top: -2rem;
      background-color: #fff;
      border-radius: 2rem 2rem 0 0;
      content: "";
      display: block;
      z-index: 3;
      height: 2.5rem;
      opacity: 0.1;
    }
  }
}

.more-arrows {
  width: 75px;
  height: 65px;
  transform: scale(0.75);

  &:hover {
    polygon {
      fill: var(--secondary-color);
      transition: all 0.2s ease-out;

      &.arrow-bottom {
        transform: translateY(-18px);
      }

      &.arrow-top {
        transform: translateY(18px);
      }
    }
  }
}

polygon {
  fill: var(--primary-color);
  transition: all 0.2s ease-out;

  &.arrow-middle {
    opacity: 0.75;
  }

  &.arrow-top {
    opacity: 0.5;
  }
}

.modal {
  width: 680px;
  max-width: 90vw;
  position: relative;
  background-color: var(--modal-background-color);
  border-radius: 0.5rem;
  min-height: 400px;

  @include res(phone) {
    padding-left: 216px;
  }

  &--checked {
    *:invalid {
      border-color: var(--warn-color) !important;
      color: var(--warn-color);
    }
  }

  &__wrapper {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 13;
  }

  &__header,
  &__footer {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-weight: 500;
    font-size: 1.5em;
  }

  &__image {
    width: 200px;
    height: 420px;
    background: url("/images/modal-bg.jpg") left bottom no-repeat;
    background-size: cover;
    position: absolute;
    left: 1rem;
    top: -10px;
    border-radius: 0.5rem;
    overflow: hidden;
    display: none;

    @include res(phone) {
      display: block;
    }
  }

  &__close {
    border: 0;
    background-color: transparent;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s;
    outline: none;

    i {
      transition:
        color 0.2s,
        transform 0.2s;
    }

    &:hover,
    &:focus {
      background-color: rgba(0, 0, 0, 0.05);

      i {
        color: var(--primary-color);
        transform: rotate(90deg);
      }
    }
  }

  &__content {
    padding: 0.5rem 1rem;
    min-height: 300px;
    max-height: calc(95vh - 82px);
  }

  &__error {
    color: var(--warn-color);
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--primary-color);
    min-height: 51px;

    button {
      background-color: var(--secondary-color);
      color: #fff;
      border: 2px solid var(--secondary-color);
      margin-left: 1rem;
      padding: 0.5rem 1rem;
      cursor: pointer;

      &:hover,
      &:focus {
      }
    }
  }
}

.modal-form {
  &__group {
    display: flex;
    flex-direction: column;
    position: relative;

    &:not(:last-of-type) {
      margin-bottom: 0.5rem;
    }

    label {
      display: block;
      margin-bottom: 0.25rem;
    }

    input[type="text"],
    input[type="date"],
    select,
    textarea {
      padding: 0.5rem;
      outline: none;
      border: 1px solid #dedede;
      font-family: Calibri, "sans-serif";
      font-size: 1em;

      &:focus {
        border-color: var(--primary-color);
      }
    }

    input[type="date"],
    select {
      cursor: pointer;
    }

    select {
      appearance: none;
    }

    textarea {
      resize: none;
    }

    &:focus-within {
      label {
        color: var(--primary-color);
      }
    }
  }

  &__icon {
    position: absolute;
    top: 30px;
    right: 8px;
    pointer-events: none;
  }
}

.show-modal {
  width: 110px;
  height: auto;
  background: none;
  border: none;
  position: fixed;
  right: 0.5rem;
  bottom: 0.5rem;
  z-index: 12;
  outline: none;
  cursor: pointer;
  animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) 3;

  &:hover,
  &:focus {
    animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) 3;
  }

  img {
    max-width: 100%;
  }
}

.action {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  margin: 2rem;
  border: 0;
  padding: 0;
  opacity: 0;
  pointer-events: none;
}

.particles {
  position: relative;
  display: flex;

  &-button {
    user-select: none;
    position: relative;
    will-change: transform, opacity;
    outline: none;
  }

  &-canvas {
    position: absolute;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }

  &-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
    will-change: transform;
  }
}

.cookie-info {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 13;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  width: 100%;
  border: 0;
  cursor: pointer;
  outline: none;

  &:hover {
    img {
      transform: translateY(-20px);
    }
  }

  span {
    width: 100%;
    text-align: right;
    position: relative;
    color: #000;
    background-color: transparent;
    padding-left: calc(4rem + var(--nav-width));
  }

  img {
    transition: transform 0.2s ease;
    position: absolute;
    left: 0.5rem;
    transform: translateY(0);
  }
}

.privacy {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
  width: 680px;
  max-width: 90vw;
  position: fixed;
  right: 0;
  height: 100vh;
  overflow-y: scroll;
  background-color: #fff;
  padding: 1rem;
  top: 0;
  z-index: 130;
  font-size: 1.2em;
  line-height: 1.4em;
  transform: translateX(100%);
  transition: transform 0.2s ease;
  direction: rtl;
  text-align: left;

  &--opened {
    transform: translateX(0);
  }

  &__title {
    font-size: 1.5em;
    margin-bottom: 1rem;
    @include gradient-overlay;
  }

  &__button {
    position: absolute;
    right: 1rem;
    top: 1rem;
    background-color: transparent;
    border: 0;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    outline: none;
    color: var(--primary-color);

    &:hover,
    &:focus {
      color: var(--secondary-color);
      transform: rotate(90deg);
    }
  }
}

.faq {
  dt {
    padding: 0 25px 35px 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
  }
}

.beta-faq {
  .row {
    display: flex;
  }

  .column {
    padding-inline: 24px;

    &.column-faq {
      flex: 0 0 auto;
      width: 66.66666667%;
    }

    &.column-cta {
      flex: 0 0 auto;
      width: 33.33333333%;
    }
  }
}

.faq-cta-image {
  position: relative;
}

.faq-cta-item {
  position: absolute;
  bottom: 30px;
  left: 50px;
  right: 50px;
  background: var(--dark-divider-color);
  border: 1px solid var(--dark-divider-color);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 40px;
  padding: 25px;
  transition: all 0.4s ease-in-out;
}

.our-offer,
.beta-section {
  padding-top: 120px;
  padding-bottom: 105px;

  &__header {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 0;
  }

  &__subheading {
    color: #7fbfcd;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
  }

  &__heading {
    text-align: center;
    font-size: 60px;
    padding-bottom: 0;
    margin-bottom: 50px;
    position: relative;

    &--no-margin {
      margin-bottom: 0;
    }
  }
}

.our-offer-grid {
  max-width: 1320px;
  width: 100%;
  margin-inline: auto;
  @include res(tab) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__column {
    @include res(tab) {
      flex: 0 0 auto;
      padding-inline: 12px;
      width: 33.33333333%;
    }
  }

  &__box {
    width: 100%;
    border: 1px solid;
    padding: 30px;
    border-width: 1px;
    border-color: rgb(215, 215, 215);
    border-style: solid;
    border-radius: 4px;
    margin-bottom: 15px;
    display: flex;
    gap: 24px;

    &--revert {
      flex-direction: row-reverse;
    }
  }

  &__icon {
    width: 108px;

    img {
      width: 54px;
      max-width: 100%;
      transition: all 0.3s ease-out 0s;
    }
  }

  &__image {
    max-width: 80%;
    display: block;
    margin-inline: auto;
  }

  &__text {
    h4 {
      font-size: 20px;
      font-weight: 900;
    }

    p {
      color: rgb(119, 119, 119);
    }
  }
}

.text-right {
  text-align: right;
}

.provide-section {
  background: url(/images/section-bg-shape.svg), #3a444d;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: auto;
  padding: 100px 0 100px;
  color: #fff;

  .row {
    display: flex;
    align-items: center;

    @include res(tab) {
      > div {
        flex: 50%;
        padding: 24px;
      }
    }
  }

  h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  p {
    line-height: 1.8em;
  }

  img {
    border-radius: 70px;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
