@import 'abstracts/_variables';
@import 'abstracts/_mixins';
@import 'abstracts/_utils';

$container-width: 1360px;

:root {
  --primary-color: #31abd6;
  --secondary-color: #65C0AA;
  --third-color: #8F96A5;
  --fourth-color: #3A444D;
  --font-color: #39444D;
  --disabled-color: #CDD2DE;
  --nav-link-color: #fff;
  --nav-link-active-color: #3A444D;
  --sidenav-background: rgba(0, 0, 0, 0.6);
  --person-name-color: #fff;
  --person-image-background: #fff;
  --person-box-shadow-color: rgba(145, 190, 234, 54%);
  --secondary-section-background-color: #F8FAFD;
  --contact-form-background-color: #fff;
  --warn-color: red;
  --footer-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: Calibri, 'sans-serif';
  min-height: 100vh;
  color: var(--font-color);
  padding-bottom: 64px;

  @include res(tab) {
    padding-bottom: unset;
    //padding-top: 64px;
  }
}

.hide-for-user {
  height: 0;
  width: 0;
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
}

.content {
  position: relative;
  z-index: 1;
}

.sidenav {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--sidenav-background);
  z-index: 1;
  justify-content: flex-end;
  display: none;

  &__content {
    width: 360px;
    max-width: 100%;
    @include primary-gradient(var(--primary-color), var(--secondary-color));
    padding: 1rem;
  }
}

.container {
  width: $container-width;
  max-width: 100%;
  margin: auto;
}

.header {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  height: 64px;
  display: flex;
  align-items: center;
  z-index: 6;
  border-top: 1px solid #fff;
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));

  @include res(tab) {
    bottom: unset;
    top: 1rem;
    left: 1rem;
    right: 1rem;
    padding: 0.5rem 1rem;
    border-top: 0;

    &--no-margin {
      top: 0;
      left: 0;
      right: 0;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: none;

    @include res(tab) {
      display: flex;
    }
  }

  &__phone {
    color: var(--nav-link-color);
    text-decoration: none;
    align-items: center;
    display: none;

    @include res(tab) {
      display: inline-flex;

    }
  }

  &__phone-icon {
    margin-right: 0.5rem;
  }
}

.logo {


  &__image {
    height: 35px;
  }
}

.nav-container {
  flex: 1 1 auto;

  @include res(tab) {
    display: flex;
    flex: initial;
  }
}

.nav {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;

  &--lang {
    display: none;

    @include res(tab) {
      display: flex;
    }


    svg {
      height: 24px;
      transition: transform 0.2s;
    }
  }

  &__item {
    margin: 0 0.5rem;
    display: flex;
    align-items: center;

    @include res(tab) {
      margin: 0 1rem;
    }

    &--lang {
      @include res(tab) {
        margin: 0 0.5rem;
      }
    }

  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--nav-link-color);
    text-decoration: none;
    border: 0;
    transition: color 0.2s;
    cursor: pointer;
    perspective: 1000px;
    position: relative;
    line-height: 32px;
    background-color: transparent;
    @include res(tab) {
      flex-direction: row;
    }

    &:hover, &:focus, &.active {
      svg {
        transform: rotate(360deg) scale(1.1);
      }

      span {
        color: var(--nav-link-active-color)
      }
    }

    &:hover, &:focus {
      span {
        transform: rotateX(90deg) translateY(-22px);
        &::before, &::after {
          background: var(--primary-color);
        }
      }
    }
  }

  &__icon {
    @include res(tab) {
      display: none;

      &--lang {
        display: inline-block;
      }
    }
  }

  &__item-name {
    font-size: 0.875em;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 0 14px;
    transition: transform 0.3s;
    transform-origin: 50% 0;
    transform-style: preserve-3d;

    @include res(tab) {
      font-size: 1.125em;
      text-transform: none;
    }

    &::before {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      background: transparent;
      content: attr(data-hover);
      transition: background 0.3s;
      transform: rotateX(-90deg);
      transform-origin: 50% 0;
    }
  }
}

.section {

  &__title {
    font-size: 3em;
    text-align: center;
    padding: 1rem 0.5rem;

    @include res(tab) {
      padding: 2rem 1rem;
    }

    @include res(desktop) {
      padding: 64px 1rem 2rem;
    }
  }
}

.persons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;

  &__item {
    margin: 0.5rem;
    overflow: hidden;

    &:nth-child(1) {
      border-radius: 2rem 0 0 0;
    }

    &:nth-child(3) {
      border-radius: 0 2rem 0 0;
    }

    @include res(tab) {
      margin: 0 1rem 2rem 1rem;
    }
  }
}

.person {
  display: flex;
  flex-direction: column;
  border: 0;
  background-color: transparent;
  width: 160px;
  outline: none;
  cursor: pointer;
  text-decoration: none;

  @include res(tab) {
    width: 332px;
  }

  &:hover,
  &:focus {
    .person__name {
      span {
        transform: translateX(0.5rem);
      }
    }
  }

  &--active,
  &:hover,
  &:focus {
    .person__image {
      opacity: 1;
    }

    img {
      transform: scale(1.1);
    }

    .person__name {
      @include primary-gradient(var(--primary-color), var(--secondary-color));
    }
  }

  &--active {
    box-shadow: 0 10px 20px var(--person-box-shadow-color);
  }

  &__image {
    display: flex;
    max-width: 100%;
    overflow: hidden;
    height: 160px;
    background-color: var(--person-image-background);
    opacity: 0.5;

    @include res(tab) {
      height: 400px;
    }

    img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
      transition: opacity 0.2s, transform 5s;
    }
  }

  &__name {
    background-color: var(--primary-color);
    padding: 1rem 0.5rem;
    color: var(--person-name-color);
    font-weight: bold;
    text-align: left;
    font-size: 1.125em;
    display: flex;
    flex-direction: column;
    width: 100%;

    @include res(tab) {
      font-size: 1.5em;
      padding: 1rem;
    }

    span {
      transition: transform 0.2s;
    }

    span:first-child {
      text-transform: uppercase;
    }
  }
}

.range {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem -0.5rem;
  justify-content: center;

  @include res(desktop) {
    justify-content: space-between;
  }

  &__item {
    margin: 0.5rem;
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    width: 160px;
    height: 160px;
    color: #fff;
    display: grid;
    place-items: center;
    background-color: var(--primary-color);

    &:nth-child(1) {
      background-color: #89bfdb;
    }

    &:nth-child(2) {
      background-color: #84bfd4;
    }

    &:nth-child(3) {
      background-color: #7fbfcd;
    }

    &:nth-child(4) {
      background-color: #79bfc5;
    }

    &:nth-child(5) {
      background-color: #74bfbf;
    }

    &:nth-child(6) {
      background-color: #6fc0b8;
    }
  }
}

.person-description {
  padding: 0.5rem;
  font-size: 1.125em;

  &:not(:first-of-type) {
    display: none;
  }

  @include res(tab) {
    padding: 1rem;
  }

  @include res(desktop) {
    padding: 2rem 3rem;
  }

  @include res(wide) {
    padding: 2rem 4rem;
  }

  &__paragraph {
    margin-bottom: 2rem;
    border-left: 3px solid var(--primary-color);
    padding: 0.5rem 1.5rem;
    line-height: 1.4em;
  }

  &__title {
    margin-bottom: 2rem;
    font-size: 1.5em;

    span {
      position: relative;
      padding-bottom: 0.25rem;

      &::after {
        content: '';
        display: block;
        height: 2px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--font-color);
      }
    }
  }
}

.description-list {
  list-style: none;

  @include res(tab) {
    display: flex;
    flex-wrap: wrap;

    &--no-wrap {
      flex-direction: column;

      .description-list__item {
        width: 100%;
      }
    }
  }

  &__item {
    padding: 0.5rem 1rem;
    position: relative;
    font-size: 1.125em;

    @include res(tab) {
      width: 50%;
    }

    &::after {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      background: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
      position: absolute;
      left: 0;
      top: 16px;
    }
  }
}

.offer {
  background-color: var(--secondary-section-background-color);

  &__content {
    @include res(tab) {
      display: flex;
    }
  }

  &__description {
    padding: 0.5rem;

    @include res(tab) {
      padding-left: 4rem;
    }
  }
}

.offer-puzzles {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  margin-bottom: 2rem;

  @include res(desktop) {
    width: 680px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: 5rem;
    grid-gap: 0.1rem;
  }

  &__item {
    margin: 0.25rem;

    &:nth-child(1) {
      grid-column: 1 / 2;
      grid-row: 1 / 1;
    }

    &:nth-child(2) {
      grid-column: 2 / 3;
      grid-row: 1 / 1;
    }

    &:nth-child(3) {
      grid-column: 4 / 5;
      grid-row: 1 / 1;
    }

    &:nth-child(4) {
      grid-column: 1 / 1;
      grid-row: 2 / 3;
    }

    &:nth-child(5) {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
    }

    &:nth-child(6) {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
    }

    &:nth-child(7) {
      grid-column: 4 / 5;
      grid-row: 3 / 4;
    }

    @include res(desktop) {
      margin: 0;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 120px;
    border: 3px solid var(--primary-color);
    background-color: var(--primary-color);
    cursor: pointer;
    outline: none;

    @include res(tab) {
      height: 170px;
      width: 170px;
    }

    &--active,
    &:hover,
    &:focus {
      background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
      border-color: #fff;

      svg {
        opacity: 1;
        transform: scale(1.1) rotate(10deg);
      }
    }

    &--active {
      border-color: #fff;

      svg {
        // remove this rule
        opacity: 1 !important;
        transform: rotate(0);
      }
    }

    &--secondary {
      border-color: var(--secondary-color);
      background-color: var(--secondary-color);
    }

    &--third {
      border-color: var(--third-color);
      background-color: var(--third-color);
    }

    &--fourth {
      border-color: var(--fourth-color);
      background-color: var(--fourth-color);
    }
  }

  svg {
    opacity: 0.6;
    transition: opacity 0.2s, transform 0.2s;
  }
}

.payment {
  background: url('../assets/images/payments.png') center no-repeat;
  background-size: cover;
}

.payments-list {
  display: flex;
  list-style: none;
  padding: 0.5rem;
  justify-content: center;
  flex-wrap: wrap;

  @include res(tab) {
    padding: 0 3rem 3rem 3rem;
  }

  &__item {
    width: 350px;
    height: 250px;
    margin-bottom: 0.5rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 30px 50px rgba(145, 190, 234, 0.53);
    padding: 1.5rem;
    position: relative;

    @include res(phone) {
      margin: 0 0.5rem 0.5rem 0.5rem;
      height: 350px;
    }

    @include res(tab) {
      margin: 0 2rem 1rem;
    }

    &:not(:hover) {
      box-shadow: none;

      path,
      rect {
        fill: var(--disabled-color);
      }
    }
  }

  &__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    &:hover,
    &:focus {
      img {
        transform: scale(1.05);
      }
    }
  }

  &__image {
    transition: transform 0.2s
  }

  &__name {
    margin-top: 2rem;
    font-weight: bold;
    font-size: 1.875em;
    color: var(--disabled-color);
  }

  &__description {
    text-align: center;
    margin-top: 0.5rem;
    color: var(--disabled-color);
  }
}

.contact {
  background-color: var(--secondary-section-background-color);
}

.contact-form {
  padding: 0 0.5rem 0.5rem 0.5rem;

  @include res(phone) {
    padding: 0 1rem 1rem 1rem;
  }

  @include res(tab) {
    padding: 0 2rem 2rem 2rem;
  }

  &__content {
    background-color: var(--contact-form-background-color);
    padding: 0.5rem;
    box-shadow: 0 30px 50px rgba(145, 190, 234, 0.53);

    @include res(phone) {
      padding: 2rem 2rem 1rem 2rem;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    position: relative;
    margin-bottom: 2rem;

    &:last-of-type {
      margin-bottom: 0;
    }

    &--column {
      flex-direction: row;
      align-items: center;

      input {
        margin-right: 0.5rem;
      }
    }
  }

  &__label {
    font-size: 1.25em;
    font-weight: bold;

    &:not(span) {
      cursor: pointer;

      &:hover,
      &:focus {
        color: var(--primary-color);
      }

    }

    &--invalid {
      color: var(--warn-color);
    }
  }

  &__input {
    border: 0;
    border-bottom: 3px solid var(--secondary-color);
    outline: none;
    padding: 0.75rem 0;
    font-size: 1.25em;
    margin-bottom: 0.5rem;

    &:focus {
      border-bottom-color: var(--primary-color);
      border-bottom-style: dashed;
    }

    &--invalid {
      border-bottom-color: var(--warn-color) !important;
    }
  }

  &__textarea {
    outline: none;
    height: 100%;
    min-height: 300px;
    border: 3px solid var(--secondary-color);
    font-size: 1.25em;
    padding: 0.5rem;

    @include res(phone) {
      padding: 1rem;
    }

    @include res(tab) {
      padding: 1.5rem;
    }

    &:focus {
      border-color: var(--primary-color);
      border-style: dashed;
    }

    &--invalid {
      border-color: var(--warn-color) !important;
    }
  }

  &__error {
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--warn-color);
  }

  &__footer {
    display: flex;
    justify-content: center;
  }

  &__button {
    padding: 1rem 3rem;
    font-size: 1.125em;
    font-weight: bold;
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    color: #fff;
    border: 0;
    cursor: pointer;
    width: 320px;
    max-width: 100%;

    &:hover,
    &:focus {
      background: var(--primary-color);
    }
  }
}

.contact-info {
  display: flex;
  flex-direction: column;

  @include res(phone) {
    flex-direction: row;
  }

  &__title {
    text-transform: uppercase;
  }

  &__section {
    color: #fff;
    padding: 0.5rem;
    flex: 1;
    display: flex;
    justify-content: center;

    @include res(phone) {
      padding: 1rem;
    }

    @include res(tab) {
      padding: 1.5rem;
    }

    @include res(desktop) {
      padding: 2rem;
    }

    @include res(wide) {
      padding: 3rem 5rem;
    }

    &--primary {
      background-color: var(--primary-color);
      text-align: right;
      display: flex;
      justify-content: flex-end;
    }

    &--secondary {
      background-color: var(--secondary-color);
      display: flex;
      justify-content: flex-start;
      text-align: left;
    }

    p {
      margin-bottom: 0.5rem;
    }
  }

  &__link {
    color: #fff;
  }
}

.map {
  display: flex;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  padding: 0.5rem;
  text-align: center;
  color: var(--footer-color);

  @include res(phone) {
    padding: 1rem;
  }

  @include res(tab) {
    padding: 1.5rem;
  }

  @include res(desktop) {
    padding: 2rem;
  }

  &__logo {
    margin-bottom: 1rem;
  }

  &__link {
    color: var(--footer-color);

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.home {
  min-height: calc(100vh - 64px);
  background: url('../assets/images/home.jpg') fixed center no-repeat;
  background-size: cover;
  position: relative;
  padding: 1rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase
  }

  //&::after {
  //  position: absolute;
  //  top: 70%;
  //  right: 0;
  //  bottom: 0;
  //  left: 0;
  //  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  //  display: block;
  //  content: '';
  //  z-index: 1;
  //}

  &__link {
    z-index: 2;
    position: relative;
  }
}

.about {
  &__container {
    padding-top: 5rem;
    margin-top: -8rem;
    background-color: #fff;
    border-radius: 2rem 2rem 0 0;
    position: relative;
    z-index: 5;

    &::before {
      position: absolute;
      left: 2rem;
      right: 2rem;
      top: -1rem;
      background-color: #fff;
      border-radius: 2rem 2rem 0 0;
      content: '';
      display: block;
      z-index: 4;
      height: 2rem;
      opacity: 0.1;
    }


    &::after {
      position: absolute;
      left: 4rem;
      right: 4rem;
      top: -2rem;
      background-color: #fff;
      border-radius: 2rem 2rem 0 0;
      content: '';
      display: block;
      z-index: 3;
      height: 2.5rem;
      opacity: 0.1;
    }
  }
}

@supports (-webkit-touch-callout: none) {
  .home {
    background-attachment: scroll;
  }
}

.more-arrows {
  width: 75px;
  height: 65px;
  transform: scale(0.75);

  &:hover {
    polygon {
      fill: var(--secondary-color);
      transition: all .2s ease-out;

      &.arrow-bottom {
        transform: translateY(-18px);
      }

      &.arrow-top {
        transform: translateY(18px);
      }
    }
  }
}

polygon {
  fill: var(--primary-color);
  transition: all .2s ease-out;

  &.arrow-middle {
    opacity: 0.75;
  }

  &.arrow-top {
    opacity: 0.5
  }

}

// change hex to vars
.modal {
  width: 680px;
  max-width: 98vw;
  position: relative;
  background-color: #fff;
  border-radius: 0.5rem;
  min-height: 400px;

  @include res(phone) {
    padding-left: 220px;
  }

  &__wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 6;
  }


  &__header,
  &__footer {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-weight: 500;
    font-size: 1.5em;
  }

  &__image {
    width: 200px;
    height: 420px;
    background: url('../assets/images/modal-bg.jpg') left bottom no-repeat;
    background-size: cover;
    position: absolute;
    left: 1rem;
    top: -10px;
    border-radius: 0.5rem;
    overflow: hidden;
    display: none;

    @include res(phone) {
      display: block;
    }
  }

  &__close {
    border: 0;
    background-color: transparent;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s;
    outline: none;

    i {
      transition: color 0.2s, transform 0.2s;
    }

    &:hover, &:focus {
      background-color: rgba(0, 0, 0, 0.05);

      i {
        color: var(--primary-color);
        transform: rotate(90deg)
      }
    }
  }

  &__content {
    padding: 1rem;
    min-height: 300px;
    max-height: calc(95vh - 82px)
  }

  &__footer {
    display: flex;
    justify-content: flex-end;

    button {
      background-color: #77c9c5;
      color: #fff;
      border: 0;
      margin-left: 1rem;
      padding: 0.5rem 1rem;
    }
  }
}
